./__pycache__
/home/dalton/software_dev/space_adventure/space_adventure/__pycache__/ReadFile.cpython-38.pyc
/home/dalton/software_dev/space_adventure/space_adventure/__pycache__/Interface.cpython-38.pyc
/home/dalton/software_dev/space_adventure/space_adventure/__pycache__/Controller.cpython-38.pyc